<div class="row">
    <div class="card">
        <div class="card-content">
            <form action="/pay/add" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="number" id="value" name="value" class="validate" placeholder="请输入花费">
                        <label for="value">支出费用：</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="day" name="day" type="text" class="datepicker" 
                        placeholder="请选择支出日期">
                        <label for="dayTime">支出日期：</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="time" name="time" type="text" class="timepicker" placeholder="请选择支出时间">
                        <label for="time">支出时间：</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="blue btn waves-effect waves-light">添加支出</button>
                </div>
            </form>
        </div>
    </div>
</div>