<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="rol s6">
                <div class="card">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">收入</span>
                <p>只显示最近6个月的信息
                <a href="/income">查看更多...</a>
                </p>
                <canvas id="income_summary"></canvas>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">支出</span>
                <p>只显示最近6个月的信息
                <a href="/pay">查看更多...</a>
                </p>
                <canvas id="pay_summary"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    const date  = new Date();
    let year = date.getFullYear();
    let month = date.getMonth() + 1;
    let result = [];
    for(let index = 0; index < 6; index++){
        if(month <= 0){
            year -= 1;
            month += 12;
        }
        let monthStr = String(month);
        if(month < 10){
            month = `0${month}`;
        }
        result.unshift(`${year}-${month}`);
        month = month - 1;
    }
    const colorLst = [
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
        ];
    const options = {
        indexAxis: 'y',
        scales: {y: {beginAtZero: true}}
    };
    const incomeOption = {
        type: 'bar',
        data: {
            labels: result,
            datasets: [{
                label: '收入',
                data:[0,0,0,0,0,0],
                backgroundColor: colorLst,
                borderColor: colorLst,
                borderWidth: 1
            }]},
        options
    };
    const payOption = {...incomeOption};
    payOption.data.datasets[0].label = '支出';
    payOption.data.datasets[0].data = [];
     
    const financeOption = {...incomeOption};
    financeOption.data.datasets[0].label = '理财';
    financeOption.data.datasets[0].data = [];
    //基本的使用实例
    $.get(`${window.origin}/income/query/summary`,(data,status)=>{
        incomeOption.data.datasets[0].data = data.split(',');
        const myChart = new Chart(document.getElementById('income_summary').getContext('2d'),
            incomeOption);
    });
    $.get(`${window.origin}/pay/query/summary`,(data,status)=>{
        payOption.data.datasets[0].data = data.split(',');
        const myChart = new Chart(document.getElementById('pay_summary').getContext('2d'),
            payOption);
    });
</script>