{{#if incomes}}
    <div class="row">
        <div class="col s12">
            <table class="bordered highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>收入</th>
                        <th>日期</th>
                        {{!-- <th>周期收入</th> --}}
                        {{!-- <th>周期（天）</th> --}}
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each incomes}}
                        <tr>
                            <td>{{value}}</td>
                            <td>{{day}}</td>
                            {{!-- <td>{{time}}</td> --}}
                            <td>
                            <a href='javascript:doDelete("/income/delete","{{id}}")'>
                                <i class="small material-icons red-text text-lighten-1" 
                                style="font-size: 1.5rem;"
                                >delete</i>
                            </a>
                    </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{/if}}
<div class="row" style="margin-top: 0;">
    <div class="col s11"></div>
    <div class="col s1">
        <a class="btn-floating btn-small waves-effect waves-light blue" href='/income/add'>
            <i class="material-icons">add</i></a>
    </div>
</div>