<h3><i class="fas fa-piggy-bank"></i>家庭金融系统</h3>
<div class="section">
    <p class="lead">这是一个家庭金融系统，可管理家庭的收入支出和理财等</p>
    <p class="lead">请先登录</p>
</div>

<div class="row">
    <form action="/auth" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="user_name" name="username" 
                class="validate" placeholder="请输入用户名，最少5个字符，最多50个字符">
                <label for="user_name">用户名：</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field blue_text col s12">
                <input type="password" id="password" name="password" class="validate" placeholder="请输入密码，最少10位，最多255位">
                <label for="password">密码：</label>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="blue  darken-1 btn waves-effect waves-light">登录</button>
        </div>
    </form>
    <div class="row">
        <a href="/register" >没有账户，注册</a>
    </div>
</div>