<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/chart.min.js"></script>
    <title>Finance System</title>
</head>
<body>
    {{> header}}
    <div class="container main">
    {{{body}}}
    </div>
    {{> footer}}
    <!-- Compiled and minified JavaScript -->
   <script>
       var elems = document.querySelectorAll('.sidenav');
       var instances = M.Sidenav.init(elems, {});

       document.addEventListener('DOMContentLoaded', function () {
            let elems = document.querySelectorAll('select');
            let instances = M.FormSelect.init(elems, {});
       });

       let tabElems = document.querySelectorAll('.tabs');
       M.Tabs.init(tabElems, {});

       M.Datepicker.init(document.querySelectorAll('.datepicker'), {
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15,
            format:'yyyy/mm/dd'
       });
       M.Timepicker.init(document.querySelectorAll('.timepicker'), {
            format: 'hh:MM:ss'
        });
   </script>
</body>
</html>