<footer class="page-footer blue darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">家庭金融管理系统</h5>
                <p class="grey-text text-lighten-4">你可以使用该系统管理家庭的收入，支出和理财等信息。
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">友好链接</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">链接1</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Copyright Why
        </div>
    </div>
</footer>