<nav>
    <div class="nav-wrapper blue darken-1">
        <a href="/user" class="brand-logo">{{userName}}</a>
        <a href="/user" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/dashboard">概览</a></li>
            <li><a href="/income">收入</a></li>
            <li><a href="/pay">支出</a></li>
            <li><a href="/finance">理财</a></li>
            <li><a href="/family">家庭</a></li>
            <li><a href="/logout">退出</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/dashboard">概览</a></li>
    <li><a href="/income">收入</a></li>
    <li><a href="/pay">支出</a></li>
    <li><a href="/finance">理财</a></li>
    <li><a href="/family">家庭</a></li>
    <li><a href="/logout">退出</a></li>
</ul>

